<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" lang="SR" content="mali robot, eks misha, misha, muzika, indie, beograd, buka, nju vejv, elektro">
        <meta name="keywords" lang="EN" content="mali robot, ex-misha, ex>misha, misha, music, indie, belgrade, noise, new wave, electro, lo-fi, no-fi, bedroom music">
        <meta property="og:title" content="Ex>Misha's Web Place"/>
        <meta property="og:url" content="http://www.ex-misha.org"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="http://ex-misha.org/images/na_asfaltu.jpg"/>
        <meta property="og:site_name" content="Ex>Misha"/>
        <meta property="og:description" content="This is official Ex>Misha web page. News, releases, galeries and all stuff Ex>Misha"/>
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@exmisha">
        <meta name="twitter:creator" content="@malirobot">
        <meta name="twitter:title" content="Ex>Misha's Web Place">
        <meta name="twitter:description" content="This is official Ex>Misha web page. News, releases, galleries and all stuff Ex>Misha">
        <meta name="twitter:image" content="http://ex-misha.org/images/na_asfaltu.jpg">
        <link rel="icon" type="image/png" href="{{ asset('favicon.ico') }}" />
        <title>{% block title %}Ex>Misha{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="nav">
                <div class="container">
                    <div class="logo">
                        <a href="#">Your Logo</a>
                    </div>
                    <div id="mainListDiv" class="main_list">
                        <ul class="navlinks">
                            <li><a href="/">Home</a></li>
                            <li><a href="{{ path('media') }}">Media</a></li>
                            <li><a href="{{ path('releases') }}">Releases</a></li>
                            <li><a href="{{ path('about') }}">About</a></li>
                        </ul>
                    </div>
                    <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
                </div>
            </nav>

            <!-- Function used to shrink nav bar removing paddings and adding black background -->
            <script>
                $(window).scroll(function() {
                    if ($(document).scrollTop() > 50) {
                        $('.nav').addClass('affix');
                        console.log("OK");
                    } else {
                        $('.nav').removeClass('affix');
                    }
                });
            </script>
        </header>
        {% block body %}
            <div id="fb-root"></div>
            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0&appId=1078184995561188&autoLogAppEvents=1" nonce="ZO3kV7Yd"></script>
            <main>
                {% block content %}{% endblock %}
            </main>
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <footer>
            Ex>Misha 2020
        </footer>
    </body>
</html>
